/* Fondo general con imagen y centrado */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: url('../../../assets/imagenes/proyectos_img.jpg') no-repeat center center/cover;
}

/* Estilo del card principal */
.example-card {
  position: relative;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  width: 450px;
  padding: 2rem;
  border: solid 1px white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Título del formulario */
mat-card-title {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

/* Contenedor del formulario */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Campos Material */
mat-form-field {
  width: 100%;
}

/* Texto en inputs */
input.mat-input-element,
input.mat-mdc-input-element {
  color: #000000 !important;
}

/* Etiquetas */
.mat-mdc-floating-label,
.mat-mdc-form-field-label {
  color: rgba(255, 255, 255, 0.9) !important;
}

/* Bordes de campos */
.mat-mdc-notched-outline .mdc-notched-outline__leading,
.mat-mdc-notched-outline .mdc-notched-outline__trailing,
.mat-mdc-notched-outline .mdc-notched-outline__notch {
  border-color: rgba(255, 255, 255, 0.9) !important;
}

/* Fondo transparente del input */
.mat-form-field-appearance-fill .mat-form-field-flex {
  background: transparent !important;
}

/* Botón principal */
button[mat-raised-button] {
  background-color: #ffffff !important;
  color: #000000 !important;
  font-weight: 700;
  margin-top: 0.5rem;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
}
button[mat-raised-button]:hover {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 420px) {
  .example-card {
    width: 90%;
    padding: 1.5rem;
  }
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* separación entre items */
  max-width: 100%;
}

.checkbox-container mat-checkbox {
  width: 45%; /* dos columnas */
}
