.container-usuarios-componente {
  min-height: 100vh;
  background: url('../../../assets/imagenes/libro.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

h2{
  font-size: 2rem;
}

.container-usuarios-componente h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mat-elevation-z8 {
  width: 100%;
  max-width: 1000px;
  border-radius: 8px;
  overflow: hidden;
}

.mat-cell button {
  margin-right: 8px;
}

.paginator-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  max-width: 1000px;
}

.paginator-container button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.material-icons {
  vertical-align: middle;
}

mat-paginator {
  border-radius: 4px;
  color: black;
}
